* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  font-family: "'Inter', sans-serif" !important;
  /* filter: brightness() */
}

a {
  text-decoration: none !important;
}


